{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="text-4xl font-extrabold text-gray-900 mb-4">Welcome to Super Secret Chatroom</h1>
    <p class="text-lg text-gray-600 mb-4">This is the most secure chatroom ever!</p>
    <p class="text-lg text-gray-600 mb-4">We are secured by OAuth2 and 2FA, unbreachable I tell you.</p>
    <p class="text-lg text-gray-600 mb-4">Sign up and log in to join the very secret conversation, and remember, don't tell anyone.</p>
</div>

{% endblock %}